@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

/* Common styles for all browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #f1f1f1;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

body {
  display: flex;
}

#root {
  flex-grow: 1;
  min-height: 100vh;
}
